<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/salas"></ion-back-button>
    </ion-buttons>
    <ion-title>Grupos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="atualizar($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="acoes-grid">
    <button class="acao-card" [routerLink]="['/add-grupo', idSala]">
      <div class="acao-icone">
        <ion-icon name="add-outline"></ion-icon>
      </div>
      <span>Criar grupo</span>
    </button>

    <button class="acao-card" [routerLink]="['/entrar-grupo', idSala]">
      <div class="acao-icone">
        <ion-icon name="person-add-outline"></ion-icon>
      </div>
      <span>Entrar em grupo</span>
    </button>
  </div>

  <div class="grupos-secao">
    <h3 class="group-title">Meus grupos</h3>

    @if (carregando) {
    <div class="group">
      @for (i of [1, 2, 3]; track i) {
      <div class="row skeleton-row">
        <div class="row-icon skeleton-block"></div>
        <div class="row-body">
          <div class="skeleton-line skeleton-line-title"></div>
          <div class="skeleton-line skeleton-line-sub"></div>
        </div>
      </div>
      }
    </div>
    } @else if (grupos.length > 0) {
    <div class="group stagger-list">
      @for (grupo of grupos; track grupo.id) {
      <div class="row" [routerLink]="['/grupo', grupo.id]" button>
        <div class="row-icon">
          <ion-icon name="people-outline"></ion-icon>
        </div>
        <div class="row-body">
          <h4 class="row-label">{{ grupo.nome }}</h4>
          <div class="row-sub">
            <span class="row-data">{{ grupo.quantidadeMembros }} membros</span>
          </div>
        </div>
        <ion-icon name="chevron-forward-outline" class="row-seta"></ion-icon>
      </div>
      }
    </div>
    } @else {
    <div class="vazio-data">
      <span>Nenhum grupo encontrado.</span>
    </div>
    }
  </div>
</ion-content>

<ion-tab-bar slot="bottom">
  <ion-tab-button tab="inicio" routerLink="/tabs/inicio">
    <ion-icon name="home-outline"></ion-icon>
    <ion-label>Inicio</ion-label>
  </ion-tab-button>

  <ion-tab-button class="selecionado" tab="salas" routerLink="/tabs/salas">
    <ion-icon name="people-outline"></ion-icon>
    <ion-label>Salas</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="caderno" routerLink="/tabs/caderno">
    <ion-icon name="book-outline"></ion-icon>
    <ion-label>Caderno</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="perfil" routerLink="/tabs/perfil">
    <ion-icon name="person-outline"></ion-icon>
    <ion-label>Perfil</ion-label>
  </ion-tab-button>
</ion-tab-bar>
