<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="'/grupos/' + idSala"></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{ modoEdicao ? 'Editar Grupo' : 'Criar Grupo' }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="formGroup" (ngSubmit)="salvar()">
    <div class="campo-grupo">
      <label class="campo-label">Nome do grupo</label>
      <ion-item class="campo-item" lines="none">
        <ion-input type="text" placeholder="Ex: Equipe Alpha" formControlName="nome"></ion-input>
      </ion-item>
    </div>

    <ion-button type="submit" expand="block" class="botao-criar" [disabled]="formGroup.invalid">
      {{ modoEdicao ? 'Salvar alterações' : 'Criar grupo' }}
    </ion-button>
  </form>
</ion-content>
