<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Salas</ion-title>
    @if (carregando || salas.length > 0) {
    <ion-buttons slot="end">
      <ion-button fill="outline" class="entrar-btn" routerLink="/entrar-sala">
        <ion-icon name="log-in-outline" slot="start"></ion-icon>
        Entrar
      </ion-button>
      <ion-button fill="solid" class="criar-btn" routerLink="/add-sala" aria-label="Criar sala">
        <ion-icon name="add" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    }
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-refresher slot="fixed" (ionRefresh)="atualizar($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="salas-lista">

    @if (carregando) {
    <div class="group">
      @for (i of [1, 2, 3]; track i) {
      <div class="row skeleton-row">
        <div class="row-icon skeleton-block"></div>
        <div class="row-body">
          <div class="skeleton-line skeleton-line-title"></div>
          <div class="skeleton-line skeleton-line-sub"></div>
        </div>
      </div>
      }
    </div>
    } @else if (salas.length > 0) {
    <div class="group stagger-list">
      @for (sala of salas; track sala.id) {
      <div class="row sala-row" [routerLink]="['/sala', sala.id]" button>
        <div class="row-icon">
          <ion-icon name="people-outline"></ion-icon>
        </div>
        <div class="row-body">
          <h4 class="row-label">{{ sala.nome }}</h4>
          <div class="row-sub">
            <span class="row-data">
              <ion-icon name="person-outline"></ion-icon>
              {{ quantidadeMembros(sala) }}
            </span>
            <span class="row-data">
              <ion-icon name="documents-outline"></ion-icon>
              {{ quantidadeAtividades(sala) }}
            </span>
            <span class="tag-codigo">{{ sala.codigoConvite }}</span>
          </div>
        </div>
        <ion-icon name="chevron-forward-outline" class="row-seta"></ion-icon>
      </div>
      }
    </div>
    } @else {
    <div class="vazio-guia">
      <div class="vazio-guia-icone">
        <ion-icon name="people-outline"></ion-icon>
      </div>
      <span class="vazio-guia-titulo">Você não está em nenhuma sala ainda</span>
      <span class="vazio-guia-sub">Crie uma sala para a sua turma ou entre com o código que um colega te passou.</span>
      <div class="vazio-guia-botoes">
        <button type="button" class="vazio-guia-btn primario" routerLink="/add-sala">
          <ion-icon name="add"></ion-icon>
          Criar sala
        </button>
        <button type="button" class="vazio-guia-btn" routerLink="/entrar-sala">
          <ion-icon name="log-in-outline"></ion-icon>
          Entrar com código
        </button>
      </div>
    </div>
    }

  </div>

</ion-content>
