<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Salas</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="outline" class="entrar-btn" routerLink="/entrar-sala">
        <ion-icon name="log-in-outline" slot="start"></ion-icon>
        Entrar
      </ion-button>
      <ion-button fill="solid" class="criar-btn" routerLink="/add-sala">
        <ion-icon name="add" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="salas-lista">

    @if (salas.length > 0) {
    <div class="group">
      @for (sala of salas; track sala.id) {
      <div class="row sala-row" [routerLink]="['/sala', sala.id]" button>
        <div class="row-icon">
          <ion-icon name="business-outline"></ion-icon>
        </div>
        <div class="row-body">
          <h4 class="row-label">{{ sala.nome }}</h4>
          <div class="row-sub">
            <span class="row-data">
              <ion-icon name="people-outline"></ion-icon>
              {{ quantidadeMembros(sala) }}
            </span>
            <span class="row-data">
              <ion-icon name="documents-outline"></ion-icon>
              {{ quantidadeAtividades(sala) }}
            </span>
            <span class="tag-codigo">{{ sala.codigoConvite }}</span>
          </div>
        </div>
        <ion-icon name="chevron-forward-outline" class="row-seta"></ion-icon>
      </div>
      }
    </div>
    } @else {
    <div class="vazio-data">
      <span class="vazio-titulo">Você não está em nenhuma sala ainda</span>
      <span class="vazio-sub">Crie uma sala ou entre com um código</span>
    </div>
    }

  </div>

</ion-content>

<ion-tab-bar slot="bottom">

  <ion-tab-button tab="inicio" routerLink="/inicio">
    <ion-icon name="home-outline"></ion-icon>
    <ion-label>Inicio</ion-label>
  </ion-tab-button>

  <ion-tab-button class="selecionado" tab="sala" routerLink="/salas">
    <ion-icon name="people-outline"></ion-icon>
    <ion-label>Salas</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="caderno" routerLink="/caderno">
    <ion-icon name="book-outline"></ion-icon>
    <ion-label>Caderno</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="perfil" routerLink="/perfil">
    <ion-icon name="person-outline"></ion-icon>
    <ion-label>Perfil</ion-label>
  </ion-tab-button>

</ion-tab-bar>
