<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/salas"></ion-back-button>
    </ion-buttons>
    <ion-title>Entrar em uma Sala</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="formGroup" (ngSubmit)="entrar()">

    <div class="campo-grupo">
      <label class="campo-label">Código da sala</label>
      <ion-item class="campo-item" lines="none">
        <input type="text" placeholder="Ex: 3A2026" formControlName="codigoConvite" maxlength="20" />
      </ion-item>
    </div>

    <ion-button type="submit" expand="block" class="botao-criar" [disabled]="!formGroup.valid">
      <ion-icon name="log-in-outline" slot="start"></ion-icon>
      Entrar na Sala
    </ion-button>

  </form>
</ion-content>