<ion-header [translucent]="true" [class.modo-edicao]="editando">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/salas"></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{ editando ? 'Editar Sala' : 'Criar Sala' }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [class.modo-edicao]="editando">
  <form [formGroup]="formGroup" (ngSubmit)="salvar()">

    <div class="campo-grupo">
      <label class="campo-label">Nome da sala</label>
      <ion-item class="campo-item" lines="none">
        <ion-input type="text" placeholder="Ex: Turma 3ªA" formControlName="nomeSala"></ion-input>
      </ion-item>
    </div>

    <ion-button type="submit" expand="block" class="botao-criar" [disabled]="formGroup.invalid || salvando">
      {{ editando ? 'Salvar alterações' : 'Criar sala' }}
    </ion-button>

  </form>
</ion-content>
